header {
    background-color:#cccccc;
}

h1 {
    color: red;
}

header img {
    max-width:120px;
    max-height:120px;
    object-fit:contain;
}

footer {
    background-color:#aaaaaa;
}

footer img {
    max-width:120px;
    max-height:120px;
    object-fit:contain;
}